<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Facebookapp>
            <version>0.1.0</version>
        </Gclone_Facebookapp>
    </modules>
    <frontend>
        <routers>
            <facebookapp>
                <use>standard</use>
                <args>
                    <module>Gclone_Facebookapp</module>
                    <frontName>facebookapp</frontName>
                </args>
            </facebookapp>
        </routers>
        <layout>
            <updates>
                <facebookapp>
                    <file>facebookapp.xml</file>
                </facebookapp>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <facebookapp>
                <use>admin</use>
                <args>
                    <module>Gclone_Facebookapp</module>
                    <frontName>facebookapp</frontName>
                </args>
            </facebookapp>
        </routers>
    </admin>
    <adminhtml>
		
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Gclone_Facebookapp>
                            <title>Facebookapp Module</title>
                            <sort_order>10</sort_order>
                        </Gclone_Facebookapp>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <facebookapp>
                    <file>facebookapp.xml</file>
                </facebookapp>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <facebookapp>
                <class>Gclone_Facebookapp_Model</class>
                <resourceModel>facebookapp_mysql4</resourceModel>
            </facebookapp>
            <facebookapp_mysql4>
                <class>Gclone_Facebookapp_Model_Mysql4</class>
                <entities>
                    <facebookapp>
                        <table>facebookapp</table>
                    </facebookapp>
                </entities>
            </facebookapp_mysql4>
        </models>
        <resources>
            <facebookapp_setup>
                <setup>
                    <module>Gclone_Facebookapp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebookapp_setup>
            <facebookapp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebookapp_write>
            <facebookapp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebookapp_read>
        </resources>
        <blocks>
            <facebookapp>
                <class>Gclone_Facebookapp_Block</class>
            </facebookapp>
        </blocks>
        <helpers>
            <facebookapp>
                <class>Gclone_Facebookapp_Helper</class>
            </facebookapp>
        </helpers>
    </global>
</config>