.leftcontent .topcontent h1 {font-size:20px;display:block;line-height:35px;color:#3B5998;font-weight:normal;margin:0;padding:0 0 10px;}
.leftcontent .topcontent h1 span {font-size:20px;color:#1C404D;margin:0;font-weight:bold;}
/***** LEFT COLUMN CSS *****/
.left_column {float:left;width:226px;}
.leftbox_middle {}
.clsspace{font-size: 0px;height:10px;}
.deal_value, .dealstatus {background:#f3f3f3;border:1px solid #eeeeee;width:100%;margin-bottom:15px;}
.border_none {border:0px !important;}
.buynow_value {
    margin: 10px auto;
text-align: center;
width: 128px;
line-height: 35px;
height: 35px;
}
.buynow_rate {    margin: 5px auto 5px auto;text-align: center;width: 128px;line-height: 45px;height: 45px;color:#2a4280;font-size:40px;font-weight:bold;display:block;}
.price_value {font-size:20px;width:100px;display:block;text-align:center;float:left;}
.buynowbtn {  background: url("../images/btn_buynow.jpg") no-repeat scroll 0 0 transparent;
    height: 35px;display: block;
    line-height: 35px;
    margin: 0;text-decoration: none;
    text-align: center;
    width: 128px;}
.buynowbtn span{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
.dicount-boxes {padding:5px 10px 0;}
.clsdiscount_prices {width:68px;text-align:center;float:left;color:#000;padding:0 0 15px 0px;}
.clsdiscount_prices h3 {width:68px;text-align:center;float:left;font-size:14px;color: #3B5998;padding-bottom: 6px; font-weight: bold;
    }
.clsdiscount_prices span {color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 128px;
    height: 35px;
    padding:0 0 5px;}
.gift_box {background: url("../images/divider.jpg") repeat-x scroll left top transparent;
    margin: 0 5%;
    padding: 12px 0 15px;
    width: 90%;}
.gift_box img {float:left;display:block;padding-right:5px;}
.buy_friend .clsbuyfriend { color: #333333;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 30px;
    padding-top: 10px;
    text-align: center;}
.clsbottomspace {font-size:0;padding:0 0 10px;}
.dealstatus {text-align:center;width:224px;}
.statusimg {padding-bottom:7px;}
.clsstatus{color: #3B5998;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
    width: 100%;}
.timerbg_middle {background: none repeat scroll 0 0 #3D5B99;
    margin-bottom: 15px;
    width: 100%;}
.deal_statusnew h4 { color: #FFFFFF;display: block;font-weight: bold; padding: 10px 0;text-align: center;width: 100%;}
.timerbox ul li{width:30%;text-align:left;font-size:12px;color:#3b5998;float:left;display:block;color:#e7e7e7;padding-bottom: 5px;}
.timerulbox {padding:0 0 5px 13px;}
.viraiterbg {height:45px;width:181px;margin:0 0 10px 12px;}
.totalcount {color: #0A0A0A;
    display: block;
    font-size: 13px;
    margin: 12px 0;
    text-align: center;}
.hour,.min,.sec {background:#13316c;height:40px;margin-right:16px;line-height:40px;color:#fff;}
.hour,.min,.sec {position:absolute;background: none repeat scroll 0 0 #13316C;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-right: 16px;
    text-align: center;
    width: 25%;}
#cntdwn {color:#36DAFF;height:106px;position:absolute;width:192px;margin:0 auto;}
/***** RIGHT COLUMN CSS *****/
.right_column {float:left;width:490px;padding-left: 20px;
}

.spread {border:1px solid #BDC7D8;float:left;color:#333;font-size:13px;height:60px;width:100%;margin: 6px 0 0 0px;}
.spread span{padding: 0 0 0 20px;}
.spread .sharelinks {float:left;padding:0;margin:0;}
.spread .sharelinks li{float:left;width:150px;border-right: 1px solid #E5E5E5;margin:5px;height:48px;text-decoration:none;margin-right:5px;}
.spread .sharelinks li a {display:block;padding-top:10px;text-decoration:none;font-size:12px;text-align:center; color: gray;font-weight:normal;}
.spread .sharelinks li a strong {color: #3B5998;font-size: 13px;font-weight: bold;}
.spread .sharelinks li:hover {background-color: #EBEEF4;outline: none;text-decoration: none;}
.spread .sharelinks li:hover strong {text-decoration: underline;}
.spread .sharelinks .links{margin: 0 0 0 3px;}
.spread .referfriend {float:left;padding:0;margin:0;}
.spread .referfriend li {float:left;width:200px;border-right: 1px solid #E5E5E5;margin:5px;height:48px;text-decoration:none;margin-right:5px;margin-left: 30px;}
.spread .referfriend li a {display:block;padding-top:10px;text-decoration:none;font-size:12px;text-align:center; color: gray;font-weight:normal;}
.spread .referfriend li a strong {color: #3B5998;font-size: 13px;font-weight: bold;}
.spread .referfriend li:hover {background-color: #EBEEF4;outline: none;text-decoration: none;}
.spread .referfriend li:hover strong {text-decoration: underline;}
.spread .referfriend .links{margin: 0 0 0 3px;}
.switch{float:right; cursor: pointer;}
.switch .change{background-color:#ED6502;color:#FFFFFF; width: 50px; height: 30px; border:none;}
.switch .change:hover{background-color: #0981BE;cursor: pointer;border:none;}
.banner_middle {width:493px;}
.clsfineprint {width:493px;float:left;padding:10px 0 0 0; line-height:18px;}
.clsfineprint h3, .highlights h3, .description-reviews h3  {font-size:12px;color:#000;margin:0 0 5px 0;padding:3px 0 3px 5px;background:#f2f2f2;border-top:1px solid #e2e2e2;text-align:left;}
.clsfineprint span{ text-align: justify; width:460px;}

.highlights{float:left;width:493px; padding:10px 0 0 0; line-height:18px;}
.highlights ul li {list-style:disc;color:#333;font-size:11px;padding:0 0 5px;}
.highlights ul {padding:0 0 0 20px;}
.bottombox {margin-top:10px;}
.description-reviews p {font-size:11px;}
.bottombox h4 {font-size:16px;color:#000;padding-bottom:10px;}
.bottomleftbox{float:left;width:493px;padding-top:20px; }
.bottomleftbox h4{padding-bottom: 10px;}
.bottomrightbox {width:204px;float:left;font-size:11px;background: #F3F3F3;border: 1px solid #EEE;padding:10px;}
.clsface{padding:10px 10px 10px 20px;}
.nodealtext h1 {width:575px;text-align:center;height:400px;display:table-cell;/*vertical-align:middle;*/padding: 200px 0 0 40px;font-weight:700;font-size:20px;}
.clsdescription { text-align: justify; line-height:18px;}
.company-details h3 {font-size:14px;margin:0 0 4px 0; padding:0;color: #3B5998;font-weight: bold;}
.company-details h6 {padding:5px 0 0 0;font-weight: bold;}
#share_banner{margin-top: 10px;width:100%;padding-top:5px;border-top:1px solid #e2e2e2;}
#share_banner ul{float:left;height:25px;line-height: 25px;}
#share_banner ul li{float:left;}
#share_banner ul .shate_title {margin-right:15px;}
#share_banner ul .shareit {background: url("../images/icoshare.jpg") no-repeat center left; padding:0 15px 0 21px;}
#share_banner ul .refer_friend {background: url("../images/icofriend.jpg") no-repeat center left; padding:0 15px 0 21px;}
#share_banner ul .video {background: url("../images/icovideo.jpg") no-repeat center left; padding:0 15px 0 23px;}
#share_banner ul .images {background: url("../images/icoimage.jpg") no-repeat center left; padding:0 15px 0 23px;}
#share_banner ul .contact {background: url("../images/icocontact.jpg") no-repeat center left; padding:0 15px 0 20px;}
.shareit,.refer_friend,.video,.contact,.images {cursor: pointer;color: #3B5998;font-weight: bolder;}
.shareit:hover,.refer_friend:hover,.video:hover,.contact:hover,.images:hover {cursor: pointer;text-decoration:underline;}
li.active {font-weight: bolder;}
.connect_top {background: #F3F3F3 !important;border: 1px solid #EEE;}
.selected_share{background: url("../images/shareselected.jpg") no-repeat bottom left;width:13px;height:7px;display:block;margin-left:53px;position:absolute;}
.selected_friend{background: url("../images/shareselected.jpg") no-repeat bottom left;width:13px;height:7px;display:block;margin-left:135px;position:absolute;}
#LikeboxPluginPagelet{display:none;}